@import url(nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Style+Script&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #756943;
    background-color: rgb(226, 225, 159);
    font-size: 21px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    height: 795px;
    background-image: url(../img/headerbg.png);
    padding-top: 46px;

    &__navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__logo-img {
            padding: 0 70px 0 90px;
        }

        &__ref {
            color: #63562f;

            &.burger-menu {
                color: #63562f;
                font-size: 28px;

                &:hover {
                    background-color: #c8a327;
                    padding: 10px;
                    border-radius: 30px;
                }
            }
        }

        &__menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 25% 0 0 0;
            background-color: #E7C452;
            transform: translateX(-100%);
            transition: transform 0.5s;
            z-index: 5;


            &.active {
                transform: translateX(0);
                text-align: center;
                padding: 25% 0 0 0;

            }

            & li {
                list-style-type: none;
                margin: 0 0 50px 0;
            }
        }

        &__item {
            padding: 10px 10px 10px 10px;

            &:hover {
                background-color: #E7C452;
                border-radius: 20px;
            }
        }

        &__items {
            width: 609px;
            display: flex;
            justify-content: space-between;
        }

        &__link {
            margin-right: 52px;
        }

        &__icon {
            display: flex;
            padding: 0 90px 0 70px;

            &__search {}
        }

        &__burger {
            width: 41px;
            height: 30px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            cursor: pointer;


            & span {
                width: 40px;
                height: 4px;
                background-color: #63562f;
                border-radius: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #63562f;
                transition: all 0.5s;

                &:nth-child(2) {
                    top: calc(25% - 5px);
                }

                &:nth-child(3) {
                    top: calc(73% + 5px);
                }
            }

            &.active {
                position: fixed;
                z-index: 6;

                & span:first-of-type {
                    transform: translateX(100%);

                }

                & span:nth-of-type(2) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                & span:nth-of-type(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            &__item {
                width: 29px;
                height: 4px;
                background-color: #63562f;
                margin-bottom: 9px;
                border-radius: 5px;
            }
        }
    }

    &__information {
        padding: 80px 0 0 0;
        text-align: center;
        width: 633px;
        margin: 0 auto;

        &__title {
            font-family: 'Style Script', cursive;
            font-size: 127px;
            margin: 0 0 30px 0;
        }

        &__subtitle {
            font-size: 33px;
            font-weight: 400;
            margin: 0 0 30px 0;
        }

        &__text {
            margin: 0 0 74px 0;
            line-height: 1.9;
        }

        &__button {
            background-color: #E7C452;
            width: 295px;
            height: 52px;
            border-radius: 50px;
            color: #63562f;

            &:hover {
                background-color: #c7a021;
                transition: 2s;
            }
        }
    }
}

.statistics {
    height: 247px;
    background-color: #63562F;
    color: #E5DFDC;
    position: relative;



    &__line-top {
        background-color: #E7C452;
        position: absolute;
        top: 5px;
        width: 100%;
        height: 5px;

    }

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        margin: 87px 0 0 0;

        &__value {
            font-size: 33px;
            text-align: center;
            margin: 0 0 30px 0;
        }

        &__category {
            font-size: 21px;
        }
    }

    &__line-bottom {
        background-color: #E7C452;
        position: absolute;
        bottom: 5px;
        width: 100%;
        height: 5px;
    }
}

.gallery {
    background-image: url(../img/Shape.png);
    height: 1456px;
    position: relative;

    &__frame {
        &__img {
            margin: 0 auto;
            padding: 53px 0 67px 0;
            display: block;
        }


        &__title {
            top: 84px;
            left: 625px;
            text-align: center;
            position: absolute;
            font-family: 'Style Script', cursive;
            font-size: 73px;
        }

        &__subtitle {
            text-align: center;
            position: absolute;
            font-size: 29px;
            position: absolute;
            top: 153px;
            left: 518px;
        }
    }

    &__navigation {
        justify-content: center;
        display: flex;

        &__button {
            width: 190px;
            height: 49px;
            background-color: #63562f;
            color: white;
            border-radius: 40px;

            &.left {
                margin-right: 50px;
            }

            &.right {
                margin-left: 50px;
            }
        }

        &__circle {
            display: flex;
            margin: auto 0;
            align-items: center;


            &__item {
                width: 14px;
                height: 14px;
                background-color: #63562f;
                border-radius: 50%;
                margin: auto 0;
                cursor: pointer;
                margin: 0 27px 0 0;
                text-align: center;
                align-items: center;
                vertical-align: center;

                &:nth-child(2) {
                    margin-right: 0px;
                }

                &:nth-child(3) {
                    width: 32px;
                    height: 32px;
                    margin: 0;
                    margin: 0 17px 0 17px;
                }
            }
        }
    }


}

.card {
    padding: 0 0 116px 0;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-gap: 59px 45px;
    justify-content: center;

    &__item {}
}

.item {


    &__mesh {
        background-color: #fff;
        width: 271px;
        border-radius: 40px;
        height: 416px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);



        &__img {
            width: 271px;
            height: 275px;
            border-radius: 40px 40px 0 0;
        }

        &__information {
            position: relative;
            height: 140px;
            width: 271px;
            font-size: 0;


            &__text {
                position: absolute;
                width: 153px;
                top: 26px;
                left: 33px;
                font-size: 21px;
            }

            &__currency {
                position: absolute;
                top: 88px;
                left: 32px;
                display: inline-block;
                white-space: nowrap;
                font-size: 21px;
            }

            &__price {
                position: absolute;
                top: 88px;
                left: 60px;
                display: inline-block;
                white-space: nowrap;
                font-size: 21px;
            }

            &__yellow-circle {
                position: absolute;
                bottom: 26px;
                right: 21px;
                width: 49px;
                height: 49px;
                border-radius: 50%;
                background-color: #E7C452;

                &:hover {
                    background-color: #c7a021;
                    transition: 1s;
                    cursor: pointer;
                }
            }
        }

    }
}

.slider {
    display: none;
}







@media (max-width: 479px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;

    }

    .header {
        height: 695px;
        background-image: url(../img/headerbgmob.png);
        padding-top: 35px;
        width: 100%;

        &__navigation {
            &__logo-img {
                padding: 0;
                margin: 0 70px 0 80px;
            }

            &__menu {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 50% 0 0 0;
                background-color: #E7C452;
                transform: translateX(-100%);
                transition: transform 0.5s;

                &.active {
                    transform: translateX(0);
                    text-align: center;
                    padding: 0 0 0 0;
                    padding-top: 50%;
                }

                & li {
                    list-style-type: none;
                    margin: 0 0 55px 0;
                }
            }

            &__ref {
                &.burger-menu {
                    font-size: 31px;
                }
            }

            &__item {
                padding: 0 10px 0 0;
                display: none;
            }

            &__icon {
                padding: 0;
                margin: 0 30px 0 0px;
            }

            &__burger {
                &__item {
                    background-color: #E7C452;
                }
            }
        }

        &__information {
            width: 400px;

            &__title {
                font-family: 'Style Script', cursive;
                font-size: 98px;
            }

            &__subtitle {
                font-size: 28px;
            }

            &__text {
                margin: 0 0 46px 0;
                line-height: 1.9;
                font-size: 16px;
            }

            &__button {
                background-color: #E7C452;
                width: 295px;
                height: 52px;
                border-radius: 50px;
                color: #63562f;
            }
        }
    }

    .statistics {
        height: 700px;
        background-color: #63562F;
        color: #E5DFDC;
        position: relative;
        text-align: center;

        &__line-top {
            background-color: #E7C452;
            position: absolute;
            top: 5px;
            width: 100%;
            height: 5px;

        }

        &__items {
            display: inline-block;
            justify-content: space-around;
        }

        &__item {
            margin: 67px 0 0 0;
            padding: 0px;


            &__value {
                font-size: 36px;
                text-align: center;
            }

            &__category {
                font-size: 24px;
            }
        }

        &__line-bottom {
            background-color: #E7C452;
            position: absolute;
            bottom: 5px;
            width: 100%;
            height: 5px;
        }
    }

    /////////////////////////////////////////////////////////////////////////////////
    .gallery {
        background-image: url(../img/Shape.png);
        height: 1456px;
        position: relative;
        overflow: hidden;


        &__frame {
            &__img {
                margin: 0 auto;
                padding: 53px 0 67px 0;
                display: block;
                width: 400px;

            }


            &__title {
                top: 70px;
                left: 155px;
                position: absolute;
                font-family: 'Style Script', cursive;
                font-size: 45px;
            }

            &__subtitle {
                text-align: center;
                position: absolute;
                font-size: 18px;
                position: absolute;
                top: 115px;
                left: 110px;
            }
        }

        &__navigation {
            justify-content: center;
            display: none;

            &__button {
                width: 190px;
                height: 49px;
                background-color: #63562f;
                color: white;
                border-radius: 40px;

                &.left {
                    margin-right: 50px;
                }

                &.right {
                    margin-left: 50px;
                }
            }

            &__circle {
                display: flex;
                margin: auto 0;
                align-items: center;


                &__item {
                    width: 14px;
                    height: 14px;
                    background-color: #63562f;
                    border-radius: 50%;
                    margin: auto 0;
                    cursor: pointer;
                    margin: 0 27px 0 0;
                    text-align: center;
                    align-items: center;
                    vertical-align: center;

                    &:nth-child(2) {
                        margin-right: 0px;
                    }

                    &:nth-child(3) {
                        width: 32px;
                        height: 32px;
                        margin: 0;
                        margin: 0 17px 0 17px;
                    }
                }
            }
        }


    }


    .card {
        display: none;

        &__item {}
    }

    .item {
        margin: 0;

        &__mesh {
            background-color: #fff;
            min-width: 271px;
            max-width: 271px;
            border-radius: 40px;
            height: 416px;
            box-shadow: none;
            margin: 0 100px 0 100px;
            margin: 0 auto;



            &__img {
                width: 271px;
                height: 275px;
                border-radius: 40px 40px 0 0;

            }

            &__information {
                position: relative;
                min-height: 140px;
                font-size: 0;



                &__text {
                    position: absolute;
                    width: 153px;
                    top: 26px;
                    left: 33px;
                    font-size: 21px;
                }

                &__currency {
                    position: absolute;
                    top: 88px;
                    left: 32px;
                    display: inline-block;
                    white-space: nowrap;
                    font-size: 21px;
                }

                &__price {
                    position: absolute;
                    top: 88px;
                    left: 60px;
                    display: inline-block;
                    white-space: nowrap;
                    font-size: 21px;
                }

                &__yellow-circle {
                    position: absolute;
                    bottom: 26px;
                    right: 21px;
                    width: 49px;
                    height: 49px;
                    border-radius: 50%;
                    background-color: #E7C452;

                    &:hover {
                        background-color: #c7a021;
                        transition: 1s;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    .slider {
        display: block;
        position: relative;
        cursor: pointer;
    }

    .slick-track {
        display: flex;
        justify-content: center;
    }

    .slick-list {
        overflow: hidden;
    }

    .slider .slick-arrow {
        position: absolute;
        top: 100%;
        z-index: 10;
    }

    .slider .slick-arrow.slick-prev {
        left: 0;
        width: 100px;
        height: 49px;
        background-color: #63562f;
        color: white;
        border-radius: 40px;
        z-index: 1;
    }

    .slider .slick-arrow.slick-next {
        right: 0;
        width: 100px;
        height: 49px;
        background-color: #63562f;
        color: white;
        border-radius: 40px;
        z-index: 1;
    }

    .slider .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider .slick-dots li {
        list-style: none;
    }

    .slider .slick-dots button {
        font-size: 0;
        width: 14px;
        height: 14px;
        background-color: #63562f;
        border-radius: 50%;
        margin: auto 0;
        cursor: pointer;
        margin: 0 18px 0 0;
        text-align: center;
        align-items: center;
        vertical-align: center;

    }

    .slider .slick-dots li.slick-active button {
        width: 24px;
        height: 24px;
        margin: 0;
        margin: 0 17px 0 0;
    }
}